:root {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif !important;
  background-color: #000000 !important;
  color: #ffffff !important;
}

button {
  cursor: pointer;
  outline: none;
}

footer, .cta-section, .faq-section, .reason-section, .treding-section, .hero-wrapper {
  padding: 0 9.25rem;
}
@media (min-width: 1920px) {
  footer, .cta-section, .faq-section, .reason-section, .treding-section, .hero-wrapper {
    padding: 0 22.125rem;
  }
}

.faq-section .faq-heading, .reason-section .reason-heading, .treding-section .section-title {
  font-family: unset;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 500;
}
@media (min-width: 960px) {
  .faq-section .faq-heading, .reason-section .reason-heading, .treding-section .section-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1920px) {
  .faq-section .faq-heading, .reason-section .reason-heading, .treding-section .section-title {
    font-size: 2rem;
    font-weight: 700;
  }
}

.faq-card {
  transition: all 0.3s ease-in-out;
}

.hero-wrapper {
  height: 102vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(175deg, black 4%, transparent 40%), linear-gradient(0deg, black 5%, transparent 130%), url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753035133/Netflix%20Clone/Netflix-Background_zliqv3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero {
  flex-grow: 1;
  max-width: 50%;
  padding: 17vh 0;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.hero .nf-hero-title {
  line-height: 1.25;
  font-weight: 800;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.hero .nf-hero-description {
  font-size: 1.25rem;
  margin-bottom: 1.75rem;
}

.nf-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}
.nf-navbar .nf-logo {
  height: 40px;
}
.nf-navbar .btn-wrapper {
  display: flex;
  gap: 0.7rem;
  padding: 3px;
}

.treding-section {
  position: relative;
}
.trending-card-scroll-wrapper {
  position: relative;
}
.trending-card-scroll-wrapper .trending-scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: black;
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 2em;
  width: 2.5rem;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1.8s ease-in-out;
}
.trending-card-scroll-wrapper .trending-scroll-btn.move-right {
  left: 0;
}
.trending-card-scroll-wrapper .trending-scroll-btn.move-right img {
  transform: rotate(180deg);
}
.trending-card-scroll-wrapper .trending-scroll-btn.move-left {
  right: 0;
}
.trending-card-scroll-wrapper .trending-scroll-btn .icon-wrapper {
  height: 40%;
  background-color: #1a1a1a;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}
.trending-card-scroll-wrapper .trending-scroll-btn .icon-wrapper:hover {
  background-color: #333333;
}
.trending-card-scroll-wrapper .trending-scroll-btn .icon-wrapper img {
  scale: 0.8;
}

.trending-card-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 1.25rem;
  padding: 1.5rem 0.625rem;
}
.trending-card-container::-webkit-scrollbar {
  display: none;
}
@media (min-width: 960px) {
  .trending-card-container {
    gap: 2.75rem;
    padding: 1.7rem 1.375rem;
  }
}
@media (min-width: 1280px) {
  .trending-card-container {
    padding: 1.8rem 1.375rem;
  }
}

.reason-section {
  margin-top: 2rem;
}
.reason-section .reason-heading {
  margin-bottom: 1rem;
}
.reason-section .reason-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media (min-width: 960px) {
  .reason-section .reason-card-container {
    flex-direction: row;
  }
}

.faq-section {
  margin-top: 2rem;
}
.faq-section .faq-heading {
  margin-bottom: 0.5rem;
}
.faq-section .faq-card-wrapper-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cta-section {
  margin: 4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-section .cta-wrapper {
  width: 65%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.6666666667);
}
footer a {
  color: rgba(255, 255, 255, 0.6666666667);
}
footer .netflix-text {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 20px;
}

.lang-option-btn {
  border: 1px solid #666;
  border-radius: 0.25rem;
  padding: 0.25rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}
.lang-option-btn:focus-within {
  outline: 2px solid white;
  outline-offset: 3px;
}
.lang-option-btn select {
  font-size: 1rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='white' height='16' viewBox='0 0 21 21' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 0.1rem center/1rem 2rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
.lang-option-btn select option {
  color: black;
}

.btn-red-sm, .btn-red {
  border: none;
  border-radius: 0.25rem;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #e50914;
}

.btn-red {
  font-size: 1.5rem;
  min-height: 3.5rem;
}

.btn-red-sm {
  font-size: 0.875rem;
  min-height: 2rem;
  padding: 0.25rem 1rem;
}

.curve-container {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  scale: 1.2;
  height: 5.25rem;
}

@media (min-width: 1280px) {
  .curve {
    width: 130%;
    left: -15%;
  }
}
.curve {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  border: solid 0.25rem transparent;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom: none;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
  background-clip: padding-box;
}

.curve::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-top: -0.25rem;
  border-radius: inherit;
  background: linear-gradient(to right, rgb(33, 13, 22) 16%, rgb(184, 40, 105), rgb(229, 9, 20), rgb(184, 40, 105), rgb(33, 13, 22) 84%);
}

.cta-wrapper {
  width: 107%;
}
.cta-wrapper .cta-description {
  font-size: 1rem;
}
.cta-wrapper .cta-button-wrapper {
  display: flex;
  align-self: stretch;
  gap: 0.5rem;
  padding-top: 1rem;
}
.cta-wrapper .cta-button-wrapper input {
  flex-grow: 8;
  color: white;
  background-color: rgba(15, 15, 15, 0.2666666667);
  backdrop-filter: blur(2px);
  border: 1px solid #666;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.cta-wrapper .cta-button-wrapper input::placeholder {
  color: #ccc;
  opacity: 0.9;
}
.cta-wrapper .cta-button-wrapper button {
  flex-grow: 2;
  max-width: 13rem;
  min-height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.trending-card {
  flex-shrink: 0;
  position: relative;
  border-radius: 0.5rem;
  background-size: 100% 100%;
  width: 7rem;
  height: 9.8rem;
  transition: scale 0.2s ease-in-out;
  cursor: pointer;
}
@media (min-width: 960px) {
  .trending-card {
    width: 8.75rem;
    height: 12.25rem;
  }
}
@media (min-width: 1280px) {
  .trending-card {
    width: 11.25rem;
    height: 15.75rem;
  }
}
.trending-card:hover {
  scale: 1.05;
  transition: scale 0.2s ease-in-out;
}
.trending-card .card-rank {
  position: absolute;
  line-height: 1;
  user-select: none;
  font-family: inherit;
  font-weight: 800;
  transform: scaleX(0.85);
  color: black;
  white-space: nowrap;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  height: 1em;
  letter-spacing: -0.04em;
  font-size: 4rem;
  -webkit-text-stroke: 0.04rem #fff;
  bottom: 0.1rem;
  left: -0.625rem;
}
@media (min-width: 960px) {
  .trending-card .card-rank {
    font-size: 5rem;
    -webkit-text-stroke: 0.05rem #fff;
    bottom: 0.5rem;
    left: -1.375rem;
  }
}
@media (min-width: 1280px) {
  .trending-card .card-rank {
    font-size: 6.25rem;
    -webkit-text-stroke: 0.1rem #fff;
  }
}
@media (min-width: 1920px) {
  .trending-card .card-rank {
    font-size: 7.5rem;
  }
}

.card1 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034784/Netflix%20Clone/card1_lke4si.jpg");
}

.card2 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034784/Netflix%20Clone/card2_rscblz.jpg");
}

.card3 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034785/Netflix%20Clone/card3_zexzje.jpg");
}

.card4 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034785/Netflix%20Clone/card4_xf0pej.jpg");
}

.card5 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034786/Netflix%20Clone/card5_ofx3xe.jpg");
}

.card6 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034786/Netflix%20Clone/card6_o324vx.jpg");
}

.card7 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034787/Netflix%20Clone/card7_yxr79k.jpg");
}

.card8 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034788/Netflix%20Clone/card8_b5dcov.jpg");
}

.card9 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034788/Netflix%20Clone/card9_zyiwmr.jpg");
}

.card10 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034789/Netflix%20Clone/card10_uxshmp.jpg");
}

.reason-card {
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  padding: 0.5rem 1rem 7rem;
  border-radius: 1rem;
  position: relative;
  width: 100%;
}
@media (min-width: 960px) {
  .reason-card {
    width: calc((100% * 3 - 20px * (3 - 1)) / 12);
  }
}
.reason-card .card-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.7rem 0;
}
.reason-card .card-description {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}
.reason-card .card-icon {
  user-select: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.faq-card-wrapper {
  list-style-type: none;
}

.faq-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #2d2d2d;
  padding: 1.5rem;
}
.faq-card:hover {
  background-color: #414141;
}
.faq-card .faq-card-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.faq-card .faq-card-icon {
  width: 2.5rem;
}

.faq-card-answer {
  display: none;
  background-color: #2d2d2d;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 0.25rem;
  padding: 1.5rem;
}

/*# sourceMappingURL=index.css.map */
