@use "../abstracts/placeholders" as *;

.cta-section {
    @extend %center-container;

    margin: 4rem 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    .cta-wrapper {
       width: 65%; 
    }
}