@use "../variables" as *;

.hero-wrapper {
  height: 102vh;
  padding: 0 9.25rem;

  display: flex;
  flex-direction: column;
  position: relative;

  background-image: linear-gradient(175deg, black 4%, transparent 40%),
    linear-gradient(0deg, black 5%, transparent 130%),
    url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753035133/Netflix%20Clone/Netflix-Background_zliqv3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero {
  flex-grow: 1;
  max-width: 50%;
  padding: 17vh 0; 
  color: $text-primary;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  .nf-hero-title {
    line-height: 1.25;
    font-weight: 800;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .nf-hero-description {
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
  }
}
