@use "../abstracts/placeholders" as *;
@use "../mixins" as *;

.reason-section {
    @extend %center-container;
    margin-top: 2rem;

    .reason-heading {
        @extend %sub-heading-style;
        margin-bottom: 1rem;
    }

    .reason-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        
        @include lg {
            flex-direction: row;
        }
    }
}