.sidebar {
  width: calc((100vw / 12) * 2);
  border: 1px solid red;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 0.4em;
}

.sidebar hr.separator {
  width: 100%;
  border: 1px solid $outline;
}

#footer div.separator {
  margin: 1em 0;
}