@use "../variables" as *;

.lang-option-btn {
  border: 1px solid #666;
  border-radius: 0.25rem;
  padding: 0.25rem 0.7rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;

  &:focus-within {
    outline: 2px solid white;
    outline-offset: 3px;
  }

  select {
    font-size: 1rem;
    color: $text-primary;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='16' viewBox='0 0 21 21' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>")
      no-repeat right 0.1rem center/1rem 2rem;
    padding-right: 1.5rem;
    cursor: pointer;

    option {
      color: black;
    }
  }
}

%btn {
  border: none;
  border-radius: 0.25rem;

  line-height: 1;
  font-size: 1.5rem;
  color: $text-primary;
  background-color: $button-bg;
}

.btn-red {
  @extend %btn;
 
  font-size: 1.5rem;
  min-height: 3.5rem;
}

.btn-red-sm {
  @extend %btn;

  font-size: 0.875rem;
  min-height: 2rem;
  padding: 0.25rem 1rem;
}
