@use "../mixins" as *;

.trending-card {
  flex-shrink: 0;
  position: relative;
  border-radius: 0.5rem;
  background-size: 100% 100%;

  width: 7rem;
  height: 9.8rem;

  transition: scale 0.2s ease-in-out;
  cursor: pointer;
  
  @include lg {
    width: 8.75rem;
    height: 12.25rem;
  }

  @include xl {
    width: 11.25rem;
    height: 15.75rem;
  }

  &:hover {
    scale: 1.05;
    transition: scale 0.2s ease-in-out;
  }

  .card-rank {
    position: absolute;
    line-height: 1;
    user-select: none;

    font-family: inherit;
    font-weight: 800;
    transform: scaleX(0.85);

    color: black;
    white-space: nowrap;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    height: 1em;
    letter-spacing: -0.04em;

    font-size: 4rem;
    -webkit-text-stroke: 0.04rem #fff;
    bottom: 0.1rem;
    left: -0.625rem;

    @include lg {
      font-size: 5rem;
      -webkit-text-stroke: 0.05rem #fff;
      bottom: 0.5rem;
      left: -1.375rem;
    }

    @include xl {
      font-size: 6.25rem;
      -webkit-text-stroke: 0.1rem #fff;
    }
  }
}

.card1 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034784/Netflix%20Clone/card1_lke4si.jpg");
}

.card2 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034784/Netflix%20Clone/card2_rscblz.jpg");
}

.card3 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034785/Netflix%20Clone/card3_zexzje.jpg");
}

.card4 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034785/Netflix%20Clone/card4_xf0pej.jpg");
}

.card5 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034786/Netflix%20Clone/card5_ofx3xe.jpg");
}

.card6 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034786/Netflix%20Clone/card6_o324vx.jpg");
}

.card7 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034787/Netflix%20Clone/card7_yxr79k.jpg");
}

.card8 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034788/Netflix%20Clone/card8_b5dcov.jpg");
}

.card9 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034788/Netflix%20Clone/card9_zyiwmr.jpg");
}

.card10 {
  background-image: url("https://res.cloudinary.com/ddixkodsj/image/upload/v1753034789/Netflix%20Clone/card10_uxshmp.jpg");
}