@use '../variables' as *;

:root {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif !important;
  // font-family: Arial, Helvetica, sans-serif !important;
  background-color: $background !important;
  color: $text-primary !important;
}

button {
  cursor: pointer;
  outline: none;
}